.pag_activa{
    font-weight: bolder;
    background-color: red;
}

.linkcategorias:focus { 
    color: white;
    text-decoration: none;   
}
.linkcategorias:hover   { 
    color: white;
    text-decoration: none;
}
.linkcategorias:active  { 
    color: white;
    text-decoration: none;
}


.iconoerror{
    margin-left: 270px;
    margin-top: -25px;
    float: rigth;
    width: 25px; 
    heigth: 25px;
    background-color: red; 
    color: white;
    border-radius: 5px;
}


.msgerror{
    background-color: red; 
    color: white;
}

/*View_fotocarrito*/
.msgcarritovacio{
    background-color: red; 
    color: white;
    font-size: 35px;
}
